<p id="notice"><%= notice %></p>

<h1 class="mb-4">Important Links</h1>

<% @links.each do |link| %>
  <div class="border-bottom pb-3 mb-5">
  <%= link_to link.title, link %><br>
  <%= link.source %>
  </div>
  
  <!--
  <%= link_to 'Edit', edit_link_path(link) %>
  <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %>
  -->
<% end %>

<%= link_to 'New Link', new_link_path %>
