<p id="notice"><%= notice %></p>

<div class="mb-4">
  <%= link_to 'Back to links', links_path %>
</div>

<h5>
  <%= @link.title %>
</h5>

<small>
  <strong>Posted by:</strong>
  <%= @link.user.email %>
</small>

<div class="bg-light p-3 mt-4 mb-4">
  <div<%= @link.describe %></div>

  <p>
  <strong>Source:</strong><br>
  <%= link_to @link.source, {}, class: "text-info" %>
  </p>
</div>


<%= link_to 'Edit', edit_link_path(@link) %>
