<p id="notice"><%= notice %></p>

<div class="mb-4">
  <%= link_to 'Back to links', links_path %>
</div>

<h5 class="fw-bold fs-5 text-capitalize">
  <%= @link.title %>
</h5>

<p class="text-muted">
  <%= @link.describe %>
</p>

<div class="bg-light p-3 mt-4 mb-4">
  <div<%= @link.describe %></div>
  <div>
    <strong>Source:</strong><br>
    <%= link_to @link.source, {}, class: "text-info" %>
  </div>
</div>


<%= link_to 'Edit', edit_link_path(@link) if user_signed_in? %>
