<%= form_with(model: bug) do |form| %>
  <% if bug.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% bug.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control' %>
  </div>

  <div class="actions mb-3">
    <%= form.submit 'Submit Bug', class: 'btn btn-info shadow' %>
  </div>
<% end %>
