<h1>My Bugs</h1>

<table>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.user_id %></td>
        <td><%= bug.title %></td>
        <td><%= bug.body %></td>
        <td><%= link_to 'Show', bug %></td>
        <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
        <td><%= link_to 'Destroy', bug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a creepy Bug', new_bug_path %>
