<p id="notice"><%= notice %></p>

<p>
  <strong>Bug:</strong>
  <%= @solution.bug_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @solution.user_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @solution.body %>
</p>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
